# mod_reqrite starts here

RewriteEngine on

# Does not apply to existing directories
RewriteCond %{REQUEST_FILENAME} !-d

#Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

#Show pages that have .html

RewriteRule ^(.*)$ $1.html [NC,L]
